{% extends "base.html" %}

{% block content %}
<h1>Dashboard</h1>
<div class="feature-buttons">
    <a href="{{ url_for('main.test_idea_generation') }}">Test Idea Generation</a>
    <a href="{{ url_for('main.element_inspector') }}">Element Inspector</a>
    <a href="{{ url_for('main.gherkin_generator') }}">Gherkin Generator</a>
    <a href="{{ url_for('main.code_generator') }}">Code Generator</a>
    <a href="{{ url_for('main.agent_explorer') }}">Agent Explorer</a>
</div>
{% endblock %}